.popup-container {
    background-color: gold;
    opacity: 0.95;
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    transition: all 700ms;
}

.close {
    float: right;
    background: none;
    border: none;
    font-size: 48px;
    padding: 16px;
    border-radius: 2px;
    &:hover {
        color: white !important;
        background-color: rgba(0,0,0,0.5);
        cursor: pointer;
    }
}

.header {
    padding: 24px;
    font-size: 48px;
    text-transform: uppercase;
}

.content {
    padding: 24px;
    font-size: 36px;
    text-transform: capitalize;
    word-spacing: normal;
    line-height: 1em;
}