<div container>
  <div sub-container>
    <div style="background-color: black;height: 86px;">
      <div class="header">
        <h1>Angular Component Design Patterns</h1>
      </div>
    </div>
    <div class="body">
      <div class="component">
        <span title>Popup Component</span> <button (click)="togglePopup()">Toggle Popup</button>
     </div>
    </div>
    <div class="footer">
    </div>
  </div>
  <app-popup [isOpen]="popupToggle" (closed)="popupToggle = $event"></app-popup>
</div>
