[container] {
    display: flex;
    background-color: black;
    font-family: system-ui;
    font-weight: 200;
    font-size: 16px;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    [sub-container] {
        padding: 0px 15px;
        width: calc(100vw - 30px);
    }
}

.header {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: inherit;
}

.body {
    background-color: whitesmoke;
    min-height: calc(100vh - 64px - 121px);
    width: inherit;
    display: flex;
    flex-direction: row;
}

.footer {
    background-color: black;
    min-height: 121px;
}